body {
    font-family: sans-serif;
    /* background:url('https://i.pinimg.com/originals/f9/e9/3d/f9e93d1a3c8b1a4a55338838be0403d1.jpg'); */
    background: url('https://media-cdn.tripadvisor.com/media/photo-s/18/6e/58/25/khmer-food.jpg');
    background-size:cover;
}
.header h1{
    font-size: 25px;
    font-family: sans-serif;
    color: #d11616;
    width: 100%;
    text-align:center;
    background:rgb(205, 224, 243);
    height: 10vh;
    border: 1px solid greenyellow;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    margin-top: -10px;
}
p{
    text-align: center;
    font-family: sans-serif;
    color:rgb(5, 34, 37);
    font-size: 19px;
}
label{
    
    color: blue;
    margin-left:5px;
}
.label1{
    color:green;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    width: 500px;
    background:#d9eefa;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 30px;
    border: 2px solid rgb(0,0,0,0.1)
}
.listItem{
    background:rgb(0,0,0,0.2);
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding: 10px;
}
li{
    padding: 10px;
    border-left: 2px solid #f4511e7d;
    margin-top:10px;
    color: rgb(4, 5, 5);
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.search,.task{
    padding: 10px;
}
#date{
    width:100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}
#price{
    width:100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}
#quanity{
    width:100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;

}
#searchId{
    width:100%;
    margin-top:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 14px;
}
/* Select favourite juine */
select {
    padding: 10px;
    width: 300px;
    border:1px solid;
    outline: none;
    color:black;
    font-size: 15px;
}
.task input{
    width: 73%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}
button{
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    cursor: pointer;
    background: blue;
}
button:hover{
    background:green;
}
.remove{
    background: rgb(223, 13, 13);
    color:white;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 10px;
}
.remove:hover{
    background:orange;
}
 /* show and hide */

